body,html{
	width: 100%;
	height: 100%;
}
#wrap{
	width: 1002px;
	height: auto;
	margin: 0 auto;
}
#h_top{
	width: 1002px;
	height: 41px;
	background: url(../img/bg11.png) no-repeat;
}
#h_top>img{
	display: block;
	width: 299px;
	float: left;
}
#h_top_right{
	width: 703px;
	height: 36px;
	float: right;
	padding-top: 11px;
	box-sizing: border-box;
}
#h_top_right input{
	width: 64px;
	height: 17px;
}
#h_top_right input:nth-of-type(3){
	width: 67px;
	height: 19px;
	background: url(../img/youxiang_but.jpg) no-repeat;
	border: 0;
	font-size: 0;
}
#h_top_right form{
	width: 442px;
	float: left;
}
#h_top_right ul{
	width: 244px;
	float: right;
	
}
#h_top_right ul li{
	height: 12px;
	float: left;
	
}
#h_top_right ul li a{
	padding: 0 4px;
	display: inline-block;
	background: url(../img/xiaogang.png) right center no-repeat;
}
#banner{
	width: 1002px;
	height: 200px;
	background: url(../img/left_img.jpg) no-repeat;
	overflow: hidden;
	position: relative;
}
#banner ul{
	position: relative;
	top: 0;
	float: right;
	width: 400px;
	height: 400px;
}
#banner ul li{
	width: 400px;
	height: 200px;
}
#banner img{
	display: block;
}
#gundong{
	width: 1002px;
	height: 31px;
	background: url(../img/gundong_bg.png) repeat-x;
}
#gundong p{
	float: left;
	line-height: 31px;
}
#gundong p img{
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
}
#gundong marquee{
	float: left;
	font-size: 12px;
	width: 205px;
	margin-top: 5px;
}
#gundong form{
	width: 234px;
	float: right;
	margin-top: 3px;
}
#gundong form input:nth-of-type(1){
	width: 120px;
	
}
#gundong form label{
	font-size: 12px;
}
#gundong form input:nth-of-type(2){
	width: 51px;
	height: 20px;
	font-size: 0;
	border: 0;
	background: url(../img/chaxun.jpg) no-repeat;
}
#main{
	width: 1002px;
	height: auto;
	/*background: pink;*/
}
#main_left{
	width: 150px;
	height: auto;
	background: #fff url(../img/daohang_01.png) no-repeat top center;
	float: left;
}
#main_left>ul{
	width: 150px;
	height: 282px;
	
}
#main_left>ul li{
	width: 125px;
	height: 23px;
	margin: 0 auto;
	margin-bottom: 3px;
}
#main_left>ul li:nth-of-type(1){
	margin-top: 19px;
}
#main_left>ul li a{
	display: block;
	width: 125px;
	height: 23px;
	text-align: center;
	color: #fff;
	line-height: 23px;
	background: url(../img/daohang.png) repeat-x;
	border-radius: 10px;
	/*opacity: 0.5;
	filter:Alpha(opacity=50);*/
}
#main_center{
	float: left;
	width: 698px;
	height: auto;
	margin-top: 1px;
	margin-left: 2px;
	background:#fff;
}
#main_center>div:nth-of-type(1){
	width: 698px;
	height: 35px;
}
#main_center>div:nth-of-type(1) img{
	display: block;
}
#main_center_lunbo{
	width: 307px;
	height: 246px;
	position: relative;
	margin-left: 9px;
	float: left;
	overflow: hidden;
}
#main_center_lunbo>ul{
	position: absolute;
	width: 1228px;
	height: 246px;
}
#main_center_lunbo>ul>li{	
	float: left;
	
	width: 307px;
	height: 246px;
}
#main_center_lunbo>ul>li img{
	width: 307px;
	height: 246px;
}
#main_center_lunbo p{
	position: absolute;
	z-index: 50;
	width: 120px;
	height: 22px;
	background: rgba(000,000,255,0.5);
	right: 10px;
	bottom: 5px;
}
#main_center_lunbo p a{
	display: block;
	float: left;
	width: 30px;
	height: 22px;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}
#main_center_lunbo p a.on{
	background: pink;
	color: #fff;
}
#main_center_qiehuan{
	float: left;
	width: 374px;
	height: 232px;
	
	margin-left: 3px;
	border: 1px solid #AACBEA;
}
#main_center_qiehuan p{
	width: 374px;
	height: 30px;
	background: url(../img/bgbg.png) repeat-x;
	border-bottom: 1px solid #B8CDEC;
}
#main_center_qiehuan p a{
	font-size: 12px;
	display: block;
	float: left;
	height: 31px;
	background: url(../img/ct_line.png) no-repeat right;	
	line-height: 30px;
	padding: 0px 15px;
}
#main_center_qiehuan p a.on{
	background: #fff url(../img/ct_line.png) no-repeat right;
	font-weight: bold;
}
#main_center_qiehuan>div{
	width: 374px;
	height: 200px;
	position: relative;
}
#main_center_qiehuan ul{
	position: absolute;
	width: 374px;
	height: 200px;
	overflow: hidden;
}
#main_center_qiehuan ul li:nth-of-type(1){
	margin-top: 10px;
}
#main_center_qiehuan ul li{	
	margin: 5px 0px;
	padding-left: 8px;
	
	box-sizing: border-box;
}
#main_center_qiehuan ul li a{
	font-size: 12px;
}
#main_center_qiehuan ul li span{
	font-size: 12px;
	color: #767698;
}

#main_right{
	float: right;
	width: 144px;
	height: auto;
	margin-right: 3px;
	background: #fff;
}
#main_right_top{
	width: 144px;
	height: 131px;
	border: 1px solid #3D9942;
}
#main_right_top_top{
	width: 144px;
	height: 65px;
	border-bottom: 1px solid #ECECEC;
	
}
#main_right_top>div img{
	display: inline-block;
	vertical-align: middle;
	
}
#main_right_top>div img:nth-of-type(1){
	width: 47px;
	height: 47px;
	
}
#main_right_top>div img:nth-of-type(2){
	width: 90px;
	height: 60px;
}
#main_right_bot{
	width: 144px;
	height: 170px;
	border: 1px solid #3D9942;
	margin-top: 2px;
}
#main_right_bot_top{
	color: #fff;
	font-size: 12px;
	line-height: 27px;
	padding-left: 10px;
	box-sizing: border-box;
	width: 144px;
	height: 27px;
	background: url(../img/left_bg.png) repeat-x;
}
#main_right_bot ul{
	width: 144px;
	height: 143px;
	background: url(../img/bg_4.png)repeat-x;
	padding-top: 11px;
	box-sizing: border-box;
}
#main_right_bot ul li{
	width: 126px;
	height: 28px;
	margin: 0 auto;
	background: url(../img/right_bg_2.png) no-repeat;
	margin-bottom: 2px;
}
#main_right_bot ul li a{
	display: block;
	width: 126px;
	height: 28px;
	font-size: 12px;
	text-align: right;
	line-height: 28px;
	padding-right: 15px;
	box-sizing: border-box;
	color: #A92226;
}


#main_right_bott{
	width: 144px;
	height: 150px;
	border: 1px solid #55B15A;
	margin-top: 2px;
	clear: both;
}
#main_right_bot_topp{
	color: #fff;
	font-size: 12px;
	line-height: 27px;
	padding-left: 10px;
	box-sizing: border-box;
	width: 144px;
	height: 27px;
	background: url(../img/left_bg.png) repeat-x;
}
#main_right_bott ul{
	width: 144px;
	height: 119px;
	padding-top: 7px;
	box-sizing: border-box;
	background: url(../img/bg_4.png) repeat-x;
}
#main_right_bott ul li{
	width: 126px;
	height: 22px;
	margin: 0 auto;
	background: url(../img/yingji.png) repeat;
	margin-bottom: 2px;
	border: 1px solid #55B15A;
}
#main_right_bott ul li a{
	display: block;
	width: 126px;
	height: 22px;
	font-size: 12px;
	text-align: center;
	line-height: 22px;
	
	color: #A92226;
}


#main_right_bott2{
	width: 144px;
	height: 150px;
	border: 1px solid #55B15A;
	margin-top: 2px;
	clear: both;
	margin-bottom: 5px;
}
#main_right_bot_topp2{
	color: #fff;
	font-size: 12px;
	line-height: 27px;
	padding-left: 10px;
	box-sizing: border-box;
	width: 144px;
	height: 27px;
	background: url(../img/left_bg.png) repeat-x;
}
#main_right_bott2 ul{
	width: 144px;
	height: 112px;
	padding-top: 7px;
	box-sizing: border-box;
	background: url(../img/bg_4.png) repeat-x;
}
#main_right_bott2 ul li{
	width: 126px;
	height: 22px;
	margin: 0 auto;
	background: url(../img/yingji.png) repeat;
	margin-bottom: 2px;
	border: 1px solid #55B15A;
}
#main_right_bott2 ul li a{
	display: block;
	width: 126px;
	height: 22px;
	font-size: 12px;
	text-align: center;
	line-height: 22px;
	
	color: #A92226;
}

#main_left1{
	width: 150px;
	height: 296px;
	/*background: #f00;*/
}
#main_left1_top{
	width: 148px;
	height: 153px;
	border: 1px solid #3D9942;
	margin-top: 5px;
}
#main_left1_top>p,#main_left1_bot>p{
	height: 28px;
	width: 148px;
	font-size: 12px;
	color: #fff;
	padding-left: 10px;
	box-sizing: border-box;
	background: url(../img/left_bg.png) repeat-x;
}
#main_left1_bot{
	width: 148px;
	height: 140px;
	background:#fff url(../img/left_bg.png) repeat-x;
	border: 1px solid #3D9942;
	margin-top: 3px;
}
#main_left1_bot div{
	width: 148px;
}
#main_left1_bot div ul{
	width: 148px;
	padding: 3px 8px;
	box-sizing: border-box;
}
#main_left1_bot div ul li{
	width: 57px;
	height: 22px;	
	float: left;
	padding:0px 4px;
	margin: 6px 0px;
}
#main_left1_bot div ul li a{
	display: block;
	font-size: 12px;
	width: 51px;
	height: 22px;
	margin: 0 auto;
	border: 1px solid #DDE7EF;
	text-align: center;
	line-height: 22px;
	background: url(../img/bg.png) repeat-x;
}

#main_center>div:nth-of-type(1){
	width: 697px;
	height: 301px;
	border-radius: 10px;
	border: 1px solid #DCE6E5;
	overflow: hidden;
	position: relative;
}
#main_center>div:nth-of-type(1)>div:nth-of-type(4){
	clear: both;
	width: 698px;
	height: 21px;
	position: absolute;
	bottom: -1px;
}
#main_center>div:nth-of-type(1)>div:nth-of-type(4) img{
	display: block;
	width: 698px;
}
#jilin_datu{
	width: 698px;
	margin-top: 11px;
	height: 100px;
	overflow: hidden;
	position: relative;
}
#jilin_datu ul{
	width: 698px;
	height: 100px;	
	position: absolute;
}
#jilin_datu ul li{
	position: absolute;
}
#jilin_datu ul li:nth-of-type(1){
	z-index: 6;
}
#jilin_datu img{
	width: 698px;
	height: 100px;
	display: block;
}
#jilin_datu p{
	position: absolute;
	width: 48px;
	height: 12px;
	top: 86px;
	left: 2px;
	background: #fff;
	z-index: 30;
}
#jilin_datu p a{
	float: left;
	width: 12px;
	height: 12px;
	display: block;
	text-align: center;
	line-height: 12px;
	font-size: 12px;
	color: #990000;
	text-decoration: underline;
}
#main_center3{
	width: 698px;
	height: 188px;
	border: 1px solid #A9CDE7;
}
#main_center3>div{
	width: 343px;
	height: 188px;
	margin: 0 2px;
	float: left;
}
#main_center3>div>p a.on{
	width: 103px;
	height: 27px;
	border: 1px solid #C1DCF1;
	border-bottom: 0px;
	display: block;
	font-size:12px ;
	text-align: center;
	line-height: 27px;
	float: left;
	background: url(../img/lingdao_bg.png) repeat-x;
	margin-top: 9px;
	margin-left: 2px;
}
#main_center3>div>p>a{
	margin-top: 16px;
	margin-left: 3px;
	float: left;
	text-align: center;
	line-height: 20px;
	font-size:12px ;
	width: 72px;
	height: 20px;
	border: 1px solid #CACAC8;
	border-bottom: 0px;
	display: block;
	background: url(../img/zhongyao.png) repeat-x;
}
#main_center3>div>div{
	position: relative;
	clear: both;
	width: 340px;
	height: 144px;
	border: 1px solid #C1DCF1;
	border-radius: 5px;
}
#main_center3>div>div ul{
	padding-left: 10px;
	box-sizing: border-box;
	position: absolute;
}
#main_center3>div>div ul li{
	font-size: 12px;
	margin-top: 3px;
}
#main_center3>div>div ul li span{
	font-weight: 300;
}


#main_fenge{
	position: relative;
	clear: both;
	width: 1002px;
	height: 119px;
	background: #308436;
	
}
#main_fenge>div img{
	display: block;
}
#main_fenge_left{
	position: absolute;
	left: 0px;
	top: 0px;
}
#main_fenge_right{
	position: absolute;
	right: 0px;
	top: 0px;
}
#main_fenge_top{
	position: absolute;
	top: 0px;
	left: 30px;
}
#main_fenge_bot{
	position: absolute;
	bottom: 0px;
	left: 30px;
}
#main_fenge_center{
	position: absolute;
	top: 5px;
	left: 30px;
	right: 6px;
	bottom: 6px;
	background: #fff;
	border-radius: 6px;
}
#main_fenge_center ul{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
#main_fenge_center ul li{
	/*display: none;*/
	width: 31px;
	height: 104px;
	float: left;
	margin-right: 3px;
	margin-top: 2px;
	position: relative;
}
#main_fenge_center ul li:nth-of-type(1){
	/*display: block;*/
}
#main_fenge_center ul li a{
	position: absolute;
	z-index: 2;
}
#main_fenge_center ul li div{
	width: 131px;
	height: 102px;
	border: 1px solid #006600;
	position: absolute;
	z-index: 5;
	background: #fff;
	display: none;
}
#main_fenge_center ul li div>p{
	width: 27px;
	height: 102px;
	background: url(../img/bgbgbg.png) no-repeat right center;
	font-size: 12px;
	padding: 13px 8px;
	box-sizing: border-box;
	float: left;
}
#main_fenge_center ul li div>h3{
	width: 104px;
	height: 102px;
	float: left;	
	padding-left: 22px;
	padding-top: 14px;
	box-sizing: border-box;
}
#main_fenge_center ul li div>h3>p{
	font-size: 12px;
}
#main_fenge_center ul li img{
	display: block;
}

#main2{
	width: 1002px;
	height: 478px;
	
}
#main2_left{
	float: left;
	width: 150px;
	height: 470px;
	margin-top: 3px;
	background: #fff;
}
#main2_lefttop{
	width: 148px;
	height: 320px;
	border: 1px solid #3D9942;
	
}
#main2_lefttop>p{
	width: 148px;
	height: 24px;
	line-height: 20px;
	color: #fff;
	font-size: 12px;
	padding-left: 10px;
	box-sizing: border-box;
	background: url(../img/left_bg.png) repeat-x;
}
#main2_lefttop>ul{
	width: 146px;
	height: 290px;
	background: url(../img/main2_left_bg.png) repeat-x;
	margin-top: 2px;
	margin-left: 1px;
	padding-top: 5px;
	box-sizing: border-box;
}
#main2_lefttop>ul li{
	width: 134px;
	height: 37px;
	margin: 0 auto;
	border: 1px solid #CCCCCC;
	margin-bottom: 2px;
}
#main2_lefttop>ul li img{
	display: block;
	width: 134px;
	height: 37px;
}

/*
 
 * */

#main2_left1_bot{
	width: 148px;
	height: 140px;
	background:#fff url(../img/left_bg1.png) repeat-x;
	border: 1px solid #3D9942;
	margin-top: 3px;
	position: relative;
}
#main2_left1_bot div{
	width: 148px;
	
}
#main2_left1_bot button{
	position: absolute;
	width: 67px;
	height: 20px;
	border: 0;
	background: url(../img/tijiao.jpg) no-repeat;
	color: #fff;
	font-size: 12px;
	right: 7px;
	bottom: 2px;
}

#main2_left1_bot div ul{
	width: 148px;
	padding: 3px 8px;
	box-sizing: border-box;
}
#main2_left1_bot div ul li{
	width: 57px;
	height: 22px;	
	float: left;
	padding:0px 4px;
	margin: 6px 0px;
}
#main2_left1_bot div ul li a{
	display: block;
	font-size: 12px;
	width: 51px;
	height: 22px;
	margin: 0 auto;
	border: 1px solid #DDE7EF;
	text-align: center;
	line-height: 22px;
	background: url(../img/bg.png) repeat-x;
}
#main2_left1_bot>p{
	height: 28px;
	width: 148px;
	font-size: 12px;
	color: #fff;
	padding-left: 10px;
	box-sizing: border-box;
	background: url(../img/left_bg.png) repeat-x;
}

#main2_center{
	width: 697px;
	height: 473px;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	background: #fff;
}
.main2_center1{
	width: 346px;
	height: 292px;
	border: 1px solid #B4CBDD;
	background: url(../img/1442lyt_tab_bg111.jpg) no-repeat;
	float: left;
}
.main2_center1 h2{
	width: 346px;
	height: 30px;
	font-size: 14px;
	padding-left: 24px;
	line-height: 30px;
	box-sizing: border-box;
	
}
.main2_center1 h2 span{
	float: right;
	line-height: 30px;
	font-size: 12px;
	color: #8D8B8C;
}
.main2_center1 dl{
	width: 346px;
	height: 118px;
	border-bottom: 1px dashed #CCCCCC;
}
.main2_center1 dl dt{
	width: 133px;
	float: left;
	height: 118px;
	
}
.main2_center1 dl dt img{
	display: block;
	width: 120px;
	margin-top: 17px;
}
.main2_center1 dl dd{
	float: left;
	width: 210px;
	height: 118px;
}
.main2_center1 dl dd p:nth-of-type(1){
	color: #009631;
	font-size: 14px;
	width: 210px;
	text-align: center;
}
.main2_center1 dl dd p:nth-of-type(2){
	font-size: 12px;
	width: 210px;
	color: #333333;
}
.main2_center1 ul li{
	padding-left: 10px;
	box-sizing: border-box;
	line-height: 25px;
}

.main2_center1 ul li a{
	font-size: 12px;
}

#main2_right{
	width: 148px;
	height: 464px;
	float: right;
}
.main2_right{
	width: 146px;
	height: 286px;
	border: 1px solid #3D9942;
}
.main2_right>p{
	width: 146px;
	height: 27px;
	background: url(../img/left_bg.png);
	color: #fff;
	padding-left: 10px;
	box-sizing: border-box;
	line-height: 23px;
}
.main2_right div{
	width: 146px;
	height: 258px;
	background: url(../img/main2_left_bg.png);
	padding-top: 5px;
	box-sizing: border-box;
}
.main2_right div h2{
	width: 130px;
	height: 23px;
	background: #F6F6F6;
	border: 1px solid #E3E3E3;
	margin-left: 5px;
	
}
.main2_right div h2 a{
	display: block;
	width: 65px;
	height: 23px;
	font-size: 12px;
	line-height: 23px;
	text-align: center;
	float: left;
}
.main2_right div h2 a:nth-of-type(1){
	background: url(../img/bg1.png);
}
.main2_right div h2 a:nth-of-type(2){
	background:#fff;
	width: 63px;
	margin-left: 2px;
}
.main2_right div dl{
	width: 130px;
	
}
.main2_right div dl dt img{
	display: block;
	margin-top: 5px;
	margin-left: 6px;
	
}
.main2_right div dl dd{
	margin-left: 6px;
}
.main2_right div dl dd p,.main2_right div dl dd p span{
	font-size: 12px;
}
.main2_right div dl dd p{
	width: 130px;
}
.main2_right ul{
	width: 146px;
	height: 146px;
	background: url(../img/main2_left_bg.png);
	padding-top: 6px;
	box-sizing: border-box;
}

.main2_right ul li{
	line-height: 22px;
}
.main2_right ul li a{
	font-size: 12px;
	margin-left: 10px;
}

#gekai1{
	clear: both;
	width: 1002px;
	height: 154px;
	background: #fff;
	margin-bottom: 5px;
}
#gekai1_left{
	width: 28px;
	height: 154px;
	float: left;
}
#gekai1_left img{
	display: block;
}
#gekai1_right{
	float: left;
	width: 974px;
	height: 154px;
	background: url(../img/gekaibg.png) repeat-x;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#gekai1_right>ul{
	width: 974px;
	height: 26px;
	
}
#gekai1_right>ul li{
	float: left;
	line-height: 26px;
	margin-left: 30px;
}
#gekai1_right>ul li a{
	color: #fff;
}
#gekai1_right>div{
	width: 964px;
	height: 123px;
	background: #fff;
	border-radius: 10px;
	margin-left: 3px;
}
#marquee1{
	position:absolute;
	width:964px;
	height:124px;
	overflow:hidden;
	
}
#gekai1_right>div>div ul{
	height: 124px;
	width: 1270px;
}
#gekai1_right>div>div ul li{
	width: 178px;
	height: 124px;
	float: left;
	padding-left: 3px;
	box-sizing: border-box;
}
#gekai1_right>div>div ul li a{
	display: block;
	width: 178px;
	height: 124px;
}
#gekai1_right>div>div ul li img{
	display: block;
	vertical-align: middle;
	width: 178px;
	height: 124px;
}


/*
 
 * 
 * main4*/


#main4{
	clear: both;
	width: 1002px;
	height: 453px;
	
}
#main4_left{
	float: left;
	width: 744px;
	height: 453px;
	background: #fff;
}
.main4_left_top{
	width: 742px;
	height: 216px;
	border: 1px solid #A9CDE7;
	background: url(../img/da_bg.png) no-repeat;
}
.main4_left_top>div{
	width: 367px;
	float: left;
	margin-left: 4px;
	float: left;
}

.main4_left_top>div>p{
	width: 121px;
	height: 25px;
	background: url(../img/bg2.png) no-repeat;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 25px;
	margin-top: 4px;
}
.main4_left_top>div>ul{
	width: 365px;
	height: 28px;
	margin-top: 9px;
}
.main4_left_top>div>ul li{
	height: 28px;
	box-sizing: border-box;
	float: left;
}
.main4_left_top>div>ul li a{
	display: block;
	line-height: 27px;
	height: 28px;
	padding: 0 8px;
	box-sizing: border-box;
	font-size: 12px;
	background: url(../img/bg4.png) no-repeat right center;
}
.main4_left_top>div>ul li a.on{
	border: 1px solid #A9CDE7;
	border-bottom: 0;
	background: url(../img/bg3.png) repeat-x;
}
.main4_left_top>div>div{
	width: 363px;
	height: 140px;
	border: 1px solid #A9CDE7;
	background: url(../img/wutu.png) no-repeat;
}

.main4_left_bot{
	margin-top: 3px;
	width: 744px;
	height: 230px;
	
}
.main4_left_bot>div{
	width: 370px;
	height: 230px;
	border: 1px solid #A9CDE7;
	background: url(../img/da_bg1.png) no-repeat;
	float: left;
}

.main4_left_bot>div>p{
	width: 370px;
	height: 30px;
	line-height: 30px;
	padding-left: 22px;
	box-sizing: border-box;
}
.main4_left_bot>div:nth-of-type(1)>ul{
	width: 370px;
	height: 200px;
	background: url(../img/ditu.png) no-repeat;
	position: relative;
	
}
.main4_left_bot>div:nth-of-type(1)>ul li{
	position: absolute;
}
.main4_left_bot>div:nth-of-type(1)>ul li:nth-of-type(1){
	left: 66px;
	top: 29px;
}
.main4_left_bot>div:nth-of-type(1)>ul li:nth-of-type(2){
	left: 105px;
	top: 40px;
}
.main4_left_bot>div:nth-of-type(1)>ul li:nth-of-type(3){
	left: 137px;
	top: 56px;
}
.main4_left_bot>div:nth-of-type(1)>ul li:nth-of-type(4){
	left: 111px;
	top: 86px;
}
.main4_left_bot>div:nth-of-type(1)>ul li:nth-of-type(5){
	left: 171px;
	top: 80px;
}
.main4_left_bot>div:nth-of-type(1)>ul li:nth-of-type(6){
	left: 149px;
	top: 112px;
}
.main4_left_bot>div:nth-of-type(1)>ul li:nth-of-type(7){
	left: 159px;
	top: 132px;
}
.main4_left_bot>div:nth-of-type(1)>ul li:nth-of-type(8){
	left: 226px;
	top: 84px;
}
.main4_left_bot>div:nth-of-type(1)>ul li:nth-of-type(9){
	left: 197px;
	top: 136px;
}
.main4_left_bot>div:nth-of-type(1)>ul li a{
	font-size: 12px;
	font-weight: 600;
}
.main4_left_bot>div:nth-of-type(2)>div{
	width: 370px;
	height: 200px;
	position: absolute;
	overflow: hidden;
	
}
.main4_left_bot>div:nth-of-type(2) ul{
	width: 370px;
	height: 375px;
	
}
.main4_left_bot>div:nth-of-type(2) ul li{
	float: left;
	padding-left: 10px;
	box-sizing: border-box;
}
.main4_left_bot>div:nth-of-type(2) ul li a{
	display: block;
	width: 168px;
	height: 25px;
	margin-top: 4px;
	margin-left: 3px;
	float: left;
	font-size: 12px;
	border: 1px solid #CBCBCA;
	line-height: 25px;
	background: url(../img/bg5.png) repeat-x;
}

#main4_right{
	width: 255px;
	height: 452px;
	float: right;
}
.main4_right{
	width: 253px;
	height: 214px;
	border: 1px solid #A9CDE7;
}
.main4_right>p{
	width: 253px;
	height: 25px;
	background: url(../img/left_bg.png);
	font-size: 12px;
	color: #fff;
	line-height: 25px;
	padding-left: 10px;
	box-sizing: border-box;
}
.main4_right div{
	width: 253px;
	height: 187px;
	background: url(../img/bg6.png) no-repeat;
	position: relative;
}
.main4_right div a{
	position: absolute;
	display: block;
	height: 20px;
	padding: 0 8px;
	font-size: 12px;
	line-height: 20px;
}
.main4_right div a:nth-of-type(1){
	left: 126px;
	top: 33px;
	color: #1666D7;
}
.main4_right div a:nth-of-type(2){
	left: 34px;
	top: 55px;
	color: #B90959;
}

.main4_right div a:nth-of-type(3){
	left: 146px;
	top:76px;
	color: #417C17;
}
.main4_right div a:nth-of-type(4){
	left: 24px;
	top:95px;
	color: #E17E18;
}
.main4_right div a:nth-of-type(5){
	left: 100px;
	top:127px;
	color: #E17E18;
}

.main4_right1{
	margin-top: 5px;
	width: 246px;
	height: 218px;
	border: 1px solid #D6E5F1;
	background: url(../img/bg_1.png) repeat-x;
}
.main4_right1 h2{
	width: 240px;
	height: 25px;
	margin-top: 8px;
	line-height: 25px;
	font-size: 14px;
	padding-left: 10px;
	box-sizing: border-box;
	background: #EDF4FA;
}
.main4_right1 h2 a{
	width: 62px;
	height: 24px;
	font-size: 12px;
	display: block;
	float: right;
	
}
.main4_right1 h2 a.on{
	border: 1px solid #E1E1E1;
	border-bottom: 0;
	background: #fff;
}
.main4_right1 h2 a:nth-of-type(2){
	border: 1px solid #AECCE8;
	border-bottom: 0;
}
.main4_right1 h2 a:nth-of-type(1){
	border: 1px solid #E1E1E1;
	border-bottom: 0;
	margin-left: 2px;
}
.main4_right1 div{
	width: 230px;
	height: 184px;
	border: 1px solid #B1CCE2;
	margin-left: 10px;
	background: url(../img/bg_2.png) repeat-x;
}
.main4_right1 div>p{
	width: 230px;
	height: 28px;
}
.main4_right1 div>p>span{
	display: block;
	font-size: 12px;
	line-height: 28px;
}
.main4_right1 div>ul{
	width: 230px;
	height: 150px;
}
.main4_right1 div>ul>li{
	height: 31px;
	width: 230px;
}
.main4_right1 div>ul>li a{
	font-size: 12px;
	display: block;
	float: left;
	height: 30px;
	line-height: 26px;
	margin-left: 34px;
}
.main4_right1 div>ul>li span{
	font-size: 12px;
	height: 30px;
	display: block;
	float: right;
	margin-right: 10px;
	line-height: 26px;
}

#gekai2{
	width: 1003px;
	height: 155px;
	margin-top: 5px;
}
#gekai2_left{
	width: 27px;
	height: 155px;
	float: left;
}
#gekai2_left img{
	display: block;
}
#gekai2_right{
	width: 976px;
	height: 155px;
	float: right;
	background: url(../img/gekai2_bg.png) repeat-x;
	border-top-right-radius:10px ;
	border-bottom-right-radius:10px ;
}
#gekai2_right>ul{
	width: 976px;
	height: 26px;
}
#gekai2_right>ul li{
	float: left;
	line-height: 26px;
	margin: 0 12px;
}
#gekai2_right>ul li a{
	color: #fff;
}
#gekai2_right>div{
	width: 976px;
	height: 129px;
}
#gekai2_right>div>ul:nth-of-type(1){
	width: 70px;
	height: 129px;
	float: left;
}
#gekai2_right>div>ul:nth-of-type(1) li{
	width: 70px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	
	border-bottom: 1px solid #528E57;
}
#gekai2_right>div>ul:nth-of-type(1) li a{
	color: #fff;
}
#gekai2_right>div>div{
	float: left;
	width: 901px;
	height: 123px;
	margin-left: 70px;
	border-radius: 10px;
	position: absolute;
	overflow: hidden;
}
#gekai2_right>div>div ul{
	float: left;
	width: 10812px;
	height: 123px;
	border-radius: 10px;
}
#gekai2_right>div>div ul li{
	width: 178px;
	height: 119px;
	float: left;
	
}
#gekai2_right>div>div ul li a{
	width: 178px;
	display: block;
	height: 119px;
}
#gekai2_right>div>div ul li a img{
	width: 178px;
	display: block;
	height: 119px;
}

#xuanxiang{
	width: 1002px;
	height: 64px;
	border: 1px solid #B8D0E7;
	margin: 5px 0px;
}
#xuanxiang form{
	float: left;
	width: 200px;
	height: 64px;
	padding: 0 18px;
	box-sizing: border-box;
}
#xuanxiang form select{
	width: 157px;
	height: 17px;
	border: 1px solid ;
	margin-top: 10px;
}


footer{
	width: 1003px;
	height: 136px;
}
#f_top{
	width: 1003px;
	height: 27px;
	background: url(../img/f_bg.png) repeat-x;
}

#f_top ul{
	width: 265px;
	height: 27px;
	margin: 0 auto;
}
#f_top ul li{
	line-height: 27px;
	padding: 0 5px;
	float: left;
	background: url(../img/f_bg1.png) no-repeat right center;
}
#f_top ul li a{
	color: #fff;
}
#f_bot{
	width: 1003px;
	height: 106px;
	text-align: center;
}
#f_bot p{
	color: #5E5E5E;
	font-size: 12px;
	margin-top: 5px;
}









