<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
  </head>
<body>
    <header>
      <img src="/images/4_03.png" class="gerenset on" />
      <h3>联系人</h3>
      <em>添加</em>
    </header>
    <div class="dongtai_mian">
        <div class="dongtai_top">
            <!-- 搜索 -->
            <p class="dongtai_search"> 搜索电影/音乐/商品</p>

            <!-- 导航list -->
            <ul class="dongtai_nav">
                <li>
                    <img src="/images/11_03.png"/>
                    <span>好友动态</span>
                </li>
                <li>
                    <img src="/images/12_03.png"/>
                    <span>附近</span>
                </li>
                <li>
                    <img src="/images/13_03.png"/>
                    <span>兴趣部落</span>
                </li>
            </ul>
        </div>
        
        <!-- 设备dongtai -->
        <ul class="dongtai_shebei">
            <li>
                <em></em>
                <span class="center">游戏</span>
                <span class="right"></span>
            </li>
            <li>
                <em></em>
                <span class="center">看点</span>
                <span class="right"></span>
            </li>
            <li>
                <em></em>
                <span class="center">京东购物</span>
                <span class="right"></span>
            </li>
            <li>
                <em></em>
                <span class="center">阅读</span>
                <span class="right"></span>
            </li>
            <li>
                <em></em>
                <span class="center">动漫</span>
                <span class="right"></span>
            </li>
            <li>
                <em></em>
                <span class="center">音乐</span>
                <span class="right"></span>
            </li>
            <li>
                <em></em>
                <span class="center">NOW直播</span>
                <span class="right"></span>
            </li>
            <li>
                <em></em>
                <span class="center">热门活动</span>
                <span class="right"></span>
            </li>
        </ul>


        <ul class="dongtai_shebei dongtai_fuwu">
            <li>
                <em></em>
                <span class="center">附近的群</span>
                <span class="right"></span>
            </li>
            <li>
                <em></em>
                <span class="center">吃喝玩乐</span>
                <span class="right"></span>
            </li>
            <li>
                <em></em>
                <span class="center">同城服务</span>
                <span class="right"></span>
            </li>
            <li>
                <em></em>
                <span class="center">运动</span>
                <span class="right"></span>
            </li>
            
        </ul>
        
    </div>

    <!--底部开始-->
      <div class="footer">
        <ul>
          <li>
            <a href="/xiaoxi"><em></em><span>消息</span></a>
          </li>
          <li>
            <a href="/lianxiren"><em></em><span>联系人</span></a>
          </li>
          <li class="on">
            <a href="/dongtai"><em></em><span>动态</span></a>
          </li>
        </ul>
      </div>
      <!--底部开始-->

</body>
</html>