<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <script type="text/javascript" src="/javascripts/first.js"></script>
  </head>
<body>
    <header>
      <img src="/images/4_03.png" class="gerenset on" />
      <h3>联系人</h3>
      <em>添加</em>
    </header>
    <div class="shouye_mian">
        <div class="shou_top">
            <!-- 搜索 -->
            <p class="shouye_search"> 搜索</p>

            <!-- 导航list -->
            <ul class="shouye_nav">
                <li>
                    <a href='/Newxiaoxi'><img src="/images/5_03.png"/>
                    <span>新朋友</span></a>
                </li>
                <li>
                    <a href="/Special"><img src="/images/6_03.png"/>
                    <span>特别关心</span></a>
                </li>
                <li>
                    <img src="/images/7_03.png"/>
                    <span>群组</span>
                </li>
                <li>
                    <img src="/images/8_03.png"/>
                    <span>公众号</span>
                </li>
            </ul>
        </div>
        
        <!-- 设备list -->
        <ul class="shouye_shebei">
            <li>
                <em></em>
                <span class="center">我的设备</span>
                <span class="right">3/3</span>
                <div>
                    <img src="/images/16_03.png"/>
                    <p>我的打印机<span>将手机文件或照片发到电脑连接的打印机</span></p>
                </div>
                <div>
                    <img src="/images/17_03.png"/>
                    <p>我的电脑<span>[在线]无需数据新，手机轻松传文件到电脑</span></p>
                </div>
                <div>
                    <img src="/images/18_03.png"/>
                    <p>发现新设备<span>搜索附近的设备，用QQ轻松连接设备</span></p>
                </div>
            </li>
             <li class="top">
                <em></em>
                <span class="center">手机通讯录</span>
                <span class="right">3/3</span>
                <div>
                    <img src="/images/16_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
                <div>
                    <img src="/images/17_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
                <div>
                    <img src="/images/18_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
            </li>
        </ul>
        
        
        <!-- 好友列表 -->
        <ul class="shouye_shebei shouye_haoyou">
            <li>
                <em></em>
                <span class="center">我</span>
                <span class="right">3/3</span>
                <div>
                    <img src="/images/16_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
                <div>
                    <img src="/images/17_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
                <div>
                    <img src="/images/18_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
            </li>
             <li>
                <em></em>
                <span class="center">&nbsp;是</span>
                <span class="right">3/3</span>
                <div>
                    <img src="/images/16_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
                <div>
                    <img src="/images/17_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
                <div>
                    <img src="/images/18_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
            </li>
            <li>
                <em></em>
                <span class="center">&nbsp;&nbsp;真</span>
                <span class="right">3/3</span>
                <div>
                    <img src="/images/16_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
                <div>
                    <img src="/images/17_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
                <div>
                    <img src="/images/18_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
            </li>
            <li>
                <em></em>
                <span class="center">&nbsp;&nbsp;&nbsp;的</span>
                <span class="right">3/3</span>
                <div>
                    <img src="/images/16_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
                <div>
                    <img src="/images/17_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
                <div>
                    <img src="/images/18_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
            </li>
            <li>
                <em></em>
                <span class="center">&nbsp;&nbsp;&nbsp;&nbsp;很</span>
                <span class="right">3/3</span>
                <div>
                    <img src="/images/16_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
                <div>
                    <img src="/images/17_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
                <div>
                    <img src="/images/18_03.png"/>
                    <p>张家幸<span>[在线]</span></p>
                </div>
            </li>
            <li>
                <em></em>
                <span class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;爱</span>
                <span class="right">3/3</span>
                
            </li>
            <li>
                <em></em>
                <span class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你</span>
                <span class="right">3/3</span>
                
            </li>
            
        </ul>


    </div>
    <!--底部开始-->
      <div class="footer">
        <ul>
          <li>
            <a href="/xiaoxi"><em></em><span>消息</span></a>
          </li>
          <li class="on">
            <a href="/lianxiren"><em></em><span>联系人</span></a>
          </li>
          <li>
            <a href="/dongtai"><em></em><span>动态</span></a>
          </li>
        </ul>
      </div>
      <!--底部开始-->

</body>
</html>