<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
  </head>
<body>
	<img class="logon_tx" src="/images/2_03.png"/>
	<ul class="login_init">
		<li>
			<input type="text" class="user" placeholder="QQ号/手机号/邮箱" value="2781800124" />
			<em></em>
		</li>
		<li>
			<input type="password" class="pwd" placeholder="QQ号/手机号/邮箱" value="2781800124" />   		
		</li>
	</ul>
	<p class="login_bot">
		<a>无法登录？</a>
		<a>新用户</a>
	</p>
 </body>
</html>
