<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <script type="text/javascript" src="/javascripts/first.js"></script>
  </head>
<body>
    <header>
      <span onclick="location.href='/lianxiren'">联系人</span>
      <h3>特别关心</h3>     
    </header>
    <div class="xiaoxi_mian" style="background: #fff;bottom: 0;">
         <img src="/images/29_03.png" />
        <!-- 好友列表 -->
        
    </div>
</body>
</html>