<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <script type="text/javascript" src="/javascripts/first.js"></script>
  </head>
<body>
    <header>
      <img src="/images/4_03.png" class="gerenset on" />
      <h3>联系人</h3>
      <em>添加</em>
    </header>
    <div class="xiaoxi_mian">
        <div class="xiaoxi_top">
            <!-- 搜索 -->
            <p class="xiaoxi_search"> 搜索</p>
            
            <!-- 广告位 -->
            <img src="/images/19_02.png" width='100%'/>
        </div>
         
        <!-- 好友列表 -->
        <ul class="xiaoxi_shebei">
            <li>
                <img src="/images/21_03.png"/>              
                <p>
                    <span class="center">张家幸<em>周天去蹦极</em></span>
                    <span class="right">12:00<em>99+</em></span>
                </p>
            </li>
            <li>
                <img src="/images/21_03.png"/>
                <p>
                    <span class="center">张家幸<em>周天去蹦极</em></span>
                    <span class="right">12:00<em>9</em></span>
                </p>
            </li>
            <li>
                <img src="/images/21_03.png"/>
                <p>
                    <span class="center">张家幸<em>周天去蹦极</em></span>
                    <span class="right">12:00<em>9</em></span>
                </p>
            </li>
            <li>
                <img src="/images/21_03.png"/>
                <p>
                    <span class="center">张家幸<em>周天去蹦极</em></span>
                    <span class="right">12:00<em>9</em></span>
                </p>
            </li>
            <li>
                <img src="/images/21_03.png"/>
                <p>
                    <span class="center">张家幸<em>周天去蹦极</em></span>
                    <span class="right">12:00<em>9</em></span>
                </p>
            </li>
            <li>
                <img src="/images/21_03.png"/>
                <p>
                    <span class="center">张家幸<em>周天去蹦极</em></span>
                    <span class="right">12:00<em>9</em></span>
                </p>
            </li>
            <li>
                <img src="/images/21_03.png"/>
                <p>
                    <span class="center">张家幸<em>周天去蹦极</em></span>
                    <span class="right">12:00<em>9</em></span>
                </p>
            </li> 
            
            
        </ul>


    </div>

    <!--底部开始-->
      <div class="footer">
        <ul>
          <li class="on">
            <a href="/xiaoxi"><em></em><span>消息</span></a>
          </li>
          <li>
            <a href="/lianxiren"><em></em><span>联系人</span></a>
          </li>
          <li>
            <a href="/dongtai"><em></em><span>动态</span></a>
          </li>
        </ul>
      </div>
      <!--底部开始-->
</body>
</html>